/-hud_clock
/154.sh
/adquedit
/arcane
/Arcane Dimensions.lnk
/arena
/ca
/cace
/capture
/cfg_backup_20_10_2021
/coop
/ctf
/darkplaces-sdl.exe
/darkplaces.txt
/darkplacesenginewindowsonly20180908beta1.zip
/demolyzer
/dm
/dopa
/ezquake - Copy
/ezquake-3.2.exe
/ezquake-bb70ccb.exe
/ezquake-gcc-20180415-x86.exe
/ezquake-gl-3.1.exe
/ezquake-gl-3.2.2.exe
/ezquake-gl-old.exe
/ezquake-gl-previous.exe
/ezquake-gl.glx
/ezquake-gl.glx.193
/ezquake-gl.glx.jogi
/ezquake-gl.glx.working
/ezquake-gl.sh
/ezquake-glsl-reki.exe
/ezquake-glsl-vs-x64.zip
/ezquake-gl_backup.exe
/ezquake-gl_before_kenya_final.exe
/ezquake-gl_newest_no_outline_working.exe
/ezquake-gl_old.exe
/ezquake-gl_old_working.exe
/ezquake-reki-latest.zip
/ezquake-std-reki.exe
/ezquake-std-vs-x64.exe
/ezquake-std.exe
/ezquake-win32-3.2.1.zip
/ezquake-x11.sh
/ezquake.exe
/ezquake.svga
/ezquake.x11
/ezquake_audio_milton.exe
/ezquake_audio_milton_mingw.exe
/ezquake_audio_milton_mingw_xaudio2.exe
/ezquake_linux-x86_1.9.tar.gz
/ezquake_linux64_2.1.tar.gz
/ezquake_milton.glx
/ezquake_milton2.exe
/ezquake_rls_all.exe
/fortress
/fortress_backup
/frag_videos
/frogbot
/fteqw64.exe
/fteqw64.exe.backup
/fteqw64_new.exe
/GenCl
/gfx
/gnu.txt
/history.txt
/hud.pak
/jquake-new
/ktx
/ktx-testing
/lgc3
/libcurl-4.dll
/libd0_blind_id-0.dll
/libd0_rijndael-0.dll
/libFLAC-8.dll
/libfreetype-6.dll
/libgmp-10.dll
/libjpeg-8.dll
/libmad-0.dll
/libmikmod-3.dll
/libmodplug-1.dll
/libmpg123-0.dll
/libode-3.dll
/libogg-0.dll
/libopus-0.dll
/libopusfile-0.dll
/libpng15-15.dll
/libtheora.dll
/libvorbis-0.dll
/libvorbisfile-3.dll
/libvorbisidec-1.dll
/libxmp.dll
/libXpm.so.4
/LICENSE
/LICENSE.txt
/magic.sh
/magic2.sh
/milton
/miltons_4on4_essentials.txt
/mission2
/nice.sh
/ogg.dll
/own.sh
/ownezq.glx
/painkeep
/pakscape
/PMPRO16.DLL
/PMPRO32.DLL
/prox
/qconsole_0_0000.log
/qizmo
/qizmo291.zip
/qrp
/quakespasm-0.92.1_win64
/quakespasm-0.93.0_win64.zip
/Quakespasm-Music.txt
/quakespasm-sdl12.exe
/quakespasm-sdl2.exe
/Quakespasm-Spiked-Revision.txt
/quakespasm-spiked-win64.exe
/Quakespasm-Spiked.txt
/quakespasm.exe
/Quakespasm.html
/quakespasm.pak
/Quakespasm.txt
/quakespasm_spiked_win64.zip
/README-SDL.txt
/reki-ezquake-glsl.exe
/reki-ezquake-std.exe
/SDL.dll
/SDL2.dll
/smej
/Smej.lnk
/smej_1.13.zip
/smooth_ezquake.bat
/smooth_ezquake_no_power_options - Copy.bat
/stdout.txt
/strategy
/tft.sh
/travail
/tricks
/video
/vorbis.dll
/vorbisenc.dll
/vorbisfile.dll
/warpspasm
/WDIR16.DLL
/WDIR32.DLL
/WDIRNOP.COM
/WDIRNOP.PIF
/WINQUAKE.EXE
/WQ.BAT
/WQREADME.TXT
/zlib1.dll

cfg/config.cfg
cfg/connects.cfg
cfg/connects.cfg~
cfg/default_wscript.cfg
cfg/ennen_topia_tvs_alias.cfg
cfg/ezquake.cfg
cfg/fake.cfg
cfg/hud.cfg
cfg/j0n.cfg
cfg/jon_m.cfg
cfg/jon_m_2.cfg
cfg/kapo.cfg
cfg/m.cfg
cfg/m.cfg.varmuus
cfg/m2.cfg
cfg/miLTon.cfg
cfg/moves.cfg
cfg/noscripts.cfg
cfg/ripan_konffi.cfg
cfg/ssg.cfg
cfg/topin_tvs_tp.cfg
cfg/tpmessages.cfg
cfg/tpmessages.cfg~
cfg/tvs_alias2.cfg
cfg/tvs_alias3.cfg
cfg/tvs_alias_varmuus.cfg
cfg/tvs_tp.cfg.backup.txt
cfg/tvs_tp.cfg.varmuus
cfg/tvs_tp.cfg~
cfg/tvs_tp_backup_november_2013.cfg
cfg/tvs_tp_varmuus_october_2010.cfg

ezquake/QRP_map_textures_v.1.00_jpg.pk3
ezquake/.ezquake_history
ezquake/qizmo
ezquake/configs/backup.cfg
ezquake/configs/hqec.cfg
ezquake/configs/hud_test.cfg
ezquake/configs/milton.apikey
ezquake/configs/miltonizer.cfg
ezquake/configs/unchanged.cfg


id1/config.cfg
id1/darkplaces_history.txt
id1/gfx.wad
id1/m3.cfg
id1/pak1.pak

qw/*.jpg
qw/*.log
qw/*.qwz
qw/*.mvd
qw/*.qwd
qw/*.kmap
qw/*.pcx
qw/*.png
qw/demos
qw/fragfile_backup.dat
qw/frost_textures_backup
qw/locs_backup_20_10_2021
qw/logs
qw/maps
qw/screenshots
qw/screenshots2
qw/screenshots3
qw/textures2
qw/textures_backup_26_01_2022
qw/textures_backup_28_02_2021

qw/crosshairs/5.png
qw/crosshairs/green.png
qw/crosshairs/himmucross.png
qw/crosshairs/miltoncross.png
qw/crosshairs/skurkcross2.png
qw/crosshairs/wimcross.png

qw/gfx/env
qw/gfx/conback.png

qw/skins/*.zip
qw/skins/*.pcx

qw/textures/bravado_backup






